{% extends "base.tmpl" %}

{% block instructions %}
You're a machine learning researcher exploring reward functions for
training generative language models with reinforcement learning.
{% endblock %}

