{% extends "base.tmpl" %}

{% block instructions %}
You're a machine learning researcher exploring reduced representations with pytorch.
In this experiment we'd like to find a way of bundling many vectors into a single vector
and then recovering them with minimal error.
{% endblock %}

