{% extends "base.tmpl" %}

{% block instructions %}
You're a machine learning researcher exploring model distillation methods for causal language models.
In this experiment we're searching for loss functions which efficiently
train a smaller model based on the outputs of a larger pretrained model.
{% endblock %}

